body{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  margin-top: 24vh;
  font-family: 'Nunito Sans', sans-serif;
  padding-top: 16em;
  line-height: 1.6;

}



:root{
  --black: #323233;
  --black02:#5B5B63;
  --grey:#8E9197;
  --lightGrey:#DADBDF;
  --lightGrey02:#efefef;
  
  --greyHover:#F2F3F5;
  --lightGrey03:#F5F6F6;
  --nav-height:74px;
}



@font-face {
  font-family: 'Noto Sans SC' , sans-serif;
  src: url(https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100;300;400;500&display=swap);
  /* unicode-range: U+00-FF, U+980-9FF; */
  unicode-range: U+4E00-9FFF;
}



p{
  color: var(--black);
}

.note{
  color: var(--grey);
}




.header{
  margin-bottom: 20vh;
} 

.header img{
  border-radius: 8px;
}

.pd{
  border-radius: 1000px !important;
}


.nav__item a {
  color: var(--grey);
  display: block;
  padding: 1.5rem 1.5rem; 

  font-weight: bold;
  text-decoration: underline;
  text-decoration-color: rgba(255, 0, 0, 0);
  text-underline-offset: 0.4em;
  text-decoration-thickness: 3px;

}

  .ext-link{
    display:flex;
    align-items: center;
  
  }
  
  .sm-icon{
   
    font-size: 18px !important;
    margin-left: 2px;
    vertical-align: middle;
    margin-bottom: 4px;
  
  }

  .active a{
    color: var(--black);
    text-decoration-color: var(--black);
  }
  


#logo {
  width: 20%;
  /* margin-top: -1.6px; */
  /* text-decoration: none;
  color: #232323;
  font-size: 20px;
  font-weight: 500; */
}

.header img{
  width: 42vh;
}

.brand {

  font-weight: bold;
  font-size: 20px; 
}
.brand:hover{
  color: inherit;
}


.site-header {
  z-index: 1;
  position: relative;
  background-color: white;
  margin-bottom: 6em;

 }

.site-header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem; }
  @media (min-width: 660px) {
    /* .site-header{
      margin-top: 2em;
    } */
    .site-header__wrapper {
      padding-top: 0;
      padding-bottom: 0; } }





@media (min-width: 660px) {
  .nav__wrapper {
    display: flex; } }



@media (max-width: 659px) {
  .site-header__end {
    padding-right: 4rem; } 

  .nav__wrapper {
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    z-index: -1;
    background-color: white;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-100%);
    transition: transform 0.3s ease-out, opacity 0.3s ease-out; }
    .nav__wrapper.active {
      visibility: visible;
      opacity: 1;
      transform: translateY(0); }
    
      .nav__item a{
        text-decoration: none ;
      }
    
    }




  

.nav__toggle {
  display: none; }
  @media (max-width: 659px) {
    .nav__toggle {
      display: block;
      position: absolute;
      right: 1rem;
      top: 1rem; } }




      /* nav-style */


      .wrapper{
        max-width:1140px;
        padding-left:1rem;
        padding-right:1rem;
        margin-left:auto;
        margin-right:auto;
      }
        
      *,*:before,*:after{
        box-sizing:border-box
      }
      
      
      a{
        text-decoration:none;
        color:#222
      }
      header html{
        -webkit-font-smoothing:antialiased;
        -moz-osx-font-smoothing:grayscale;
      
      }
      
      
      
      .sr-only{
        position:absolute;
        clip:rect(1px,1px,1px,1px);
        padding:0;
        border:0;
        height:1px;
        width:1px;
        overflow:hidden;
      }
      
      .button{
        -webkit-appearance:none;
        -moz-appearance:none;
        appearance:none;
        color:#fff;
        background-color:#2fa0f6;
        min-width:120px;
        padding:.5rem 1rem;
        border-radius:5px;
        text-align:center;
        outline: none;
      }
      
      .button svg{
        display:inline-block;
        vertical-align:middle;
        width:24px;height:24px;
        fill:#fff;
      
      }.button span{
        display:none;
      
      
      }
      
      
      @media(min-width:600px){
        
        .button span{display:initial}}
        
        .button--icon{min-width:initial;padding:.5rem}
        
      
      /*nav end */
      
      
      
      /* nav */
      
      .wrapper{
        max-width:1140px;
        padding-left:1rem;
        padding-right:1rem;
        margin-left:auto;
        margin-right:auto
      }
        
      /* *,*:before,*:after{
        box-sizing:border-box
      }
       */
      
      a{
        text-decoration:none;
        color:#222
      }
      header html{
        -webkit-font-smoothing:antialiased;
        -moz-osx-font-smoothing:grayscale;
      
      }
      

      

      
      /*nav style end */
      .navbar-brand {
        padding: 0 12px;
      
      }
      


      #my-nav{
        width: 100%;
        position: fixed;
        z-index: 2;
        height: var(--nav-height);
        transition: transform 0.2s ;
        top: 0;
      
      }

      .nav--hidden{
        transform: translateY(calc(-1 * var(--nav-height)));
        
      }
/* nav end  nav end  nav end  nav end   nav end  nav end  nav end  nav end  nav end  nav end  nav end  nav end  nav end  */



.catchphrase{
  font-size: 56px;
  font-weight: bold;
  color: var(--black);
  margin-top: 8vh;
  line-height: 80px;
}


.catchphrase-2{
  font-size: 32px;
  font-weight: bold;
  color: var(--black);
}


.intro{
  font-size: 20px;
  font-weight: bold;
  color: var(--grey02);
  max-width: 85%;
}

.catchphrase-about{
  font-size: 40px;
  font-weight: 600;
  color: var(--black);
  margin-top: 5vh;
}



span{
  font-size: 18px;
}
/* .project-block img{
  width: 80vh;
} */

.tencent{
  fill: blue;
}



.hover {
  transition: all 0.2s ease-in-out;
} 

.card{
  border: none;
  
  
  border-radius: 0;
}

.hover:hover{
  transform: translateY(-4px) scale(1.01);
  box-shadow: 6px 6px 32px rgba(0, 3, 81, 0.2) ;
}




nav .navbar-nav .active a{
  color: #3C8AFF !important;
  font-weight: 600;

 }


 
 .language {
  color:var(--grey);
}
.language a{
  color: var(--black);
  text-decoration: none;
  margin-left: 4px;
  margin-right: 4px;
  
}

.language .EN {
  color:var(--grey);
  text-decoration: none;
}
.language .EN:hover {
  color:var(--black);
}
 
.EN{
  display: flex;

}

.EN a {
  align-items: center;
  display:inline-block;
  
}


.EN i{
  margin-right: 4px;
  vertical-align: middle;
}


#logo{
  margin-left: 2vh;
}
.language{
  margin-right: 2vh;
}





/* language start */


.language {
  color:var(--grey);
}
.language a{
  color: var(--black);
  text-decoration: none;
  /* margin-left: 4px;
  margin-right: 4px; */

}

.language .EN {
  color:var(--grey);
  text-decoration: none;
  padding: 8px 12px 8px 8px;
  border-radius: 100px;
}
.language .EN:hover {
   color:var(--black);
   background-color: var(--greyHover);
}


 
.EN{
  display: flex;
  vertical-align: middle ;
}

.EN a {
  display:inline-block;
  text-align: center;
}


.EN i{
  margin-right: 4px;
  vertical-align: middle ;
}


.language{
  margin-right: 2vh;
}

/* language switch end */

/* 
@media (min-width: 768px) {
 
  .navbar-nav > li > a {
    
    padding-top: 26.5px;
    padding-bottom: 26.5px;
    line-height: 27px;
  }
} */

@media (max-width: 768px) {
 .pear-team{
   margin-top: 4em;
 }

} 



@media (min-width: 768px) and (max-width: 992px) { /*medium screen*/
  /* #logo{
    margin-left: -2vh;
  } */
  .catchphrase{
    margin-top: 0vh;
  }

  .catchphrase{
    margin-left: 20px;
  }
  .intro,.catchphrase-2{
    max-width: 100%;
    margin-left: 20px;
  }



 }
 @media (max-width: 575.98px) { 
  #logo{
    margin-left: 0;
  }

  .language {
  color: #666666;
   position: inherit;
   margin-left: 6vh;
  }

.head img{
  margin-top: -5em;
}

.header{
  margin-bottom: 8vh;
} 

.h3-mobile{
  margin-top: -4em;
}

.con-mobile{
  margin-top: -12em;
}

.con-mobile-design{
  margin-top: -5em;
}





}


  

/*demo*/

.hover {
  overflow: hidden;
  position: relative;
  padding-bottom: 62%;
  border-radius: 8px;
}

.hover-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  transition: all 0.4s;
  border-radius: 8px;
}

.hover img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.3s;
  border-radius: 8px;
}

.hover-content {
  position: relative;
  z-index: 1;
}


/**/
/* .hover-5::after {
  content: '';
  width: 100%;
  position: absolute;
  bottom: -10px;
  left: 0;
  display: block;
  transition: all 0.3s;
  z-index: 999;
} */




/* .hover-5 .hover-overlay {
  background: rgba(0, 0, 0, 0.4);
} */

.hover-5-title {
  position: absolute;
  transition: all 0.3s;
  z-index: 99;
  opacity: 0;
  display: inline;
  color: white;

  padding: 8vh 2rem;
  bottom: 1rem;
  left: 0;

  
}



/* .hover-5-title span {
  transition: all 0.4s;
  opacity: 0;
  color: white;
} */


/* .hover-5:hover #p1 {
  background: #ef7b46;
}
.hover-5:hover #p2 {
  background: #86bb11;
}
.hover-5:hover #p3 {
  background: #3c3936;
}
.hover-5:hover #p4 {
  background: #4c60ae;
} */

.hover-5:hover #p1, .hover-5:hover #p2, .hover-5:hover #p3, .hover-5:hover #p4 {
  background: rgb(64, 65, 91, 90%); /*OVERLAY-COLOUR*/
}

.hover-5:hover .hover-5-title {
  opacity: 1;
  bottom: 0;
}

.hover-5:hover .hover-5-title span {
  opacity: 1;
}

.hover-5:hover::after {
  bottom: 0;
}





/* projects end */





/* overwrite begins */


ol,ul{
  list-style:none;
}


/* body{
  box-sizing: border-box;
  margin: 0;

  width: 100%;
  overflow-x: hidden;

  font-family: 'Nunito Sans', sans-serif;

} */

html,body,div,span,applet,object,iframe,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{
  margin:0;
  padding:0;
  border:0;
  vertical-align:baseline
}
.container{
  padding-top: 24vh;
}

/* overwrite ends */


/* outtro */
.outro p{
  font-size: 18px;
  font-weight: 400;
  color: var(--black);
  text-align: center;

}

.outro p:first-child{
  font-weight: bold;
}
.outro{
  margin-top: 16vh;
  margin-bottom: 16vh;
}




/* text-highlight */

/*
=====
DEPENDENCES
=====
*/


/* The component will reset browser's styles of link */

.r-link{
	--uirLinkDisplay: var(--rLinkDisplay, inline-block);
	--uirLinkTextColor: var(--rLinkTextColor);
	--uirLinkTextDecoration: var(--rLinkTextDecoration, none);

	display: var(--uirLinkDisplay) !important;
	color: var(--uirLinkTextColor) !important;
	text-decoration: var(--uirLinkTextDecoration) !important;
}


/*
=====
CORE STYLES
=====
*/

.animated-underline{
	--uiAnimatedUnderlineWidth: var(--animatedUnderlineWidth, 100%);
	--uiAnimatedUnderlineHeight: var(--animatedUnderlineHeight, 2px);
	--uiAnimatedUnderlineBgColor: var(--animatedUnderlineBgColor, currentColor);
	--uiAnimatedUnderlinePositionX: var(--animatedUnderlinePositionX, left);
	--uiAnimatedUnderlinePositionY: var(--animatedUnderlinePositionY, bottom);

	/*
		1. For multi-line animated underline the "inline" value for the display property is compulsory.
		2. Adds opportunity to create multi-line padding
	*/

	--rLinkDisplay: inline; /* 1 */

	background-image: linear-gradient(0, var(--uiAnimatedUnderlineBgColor) 0, var(--uiAnimatedUnderlineBgColor));
	background-size: var(--uiAnimatedUnderlineWidth) var(--uiAnimatedUnderlineHeight);
	background-position: var(--uiAnimatedUnderlinePositionX) var(--uiAnimatedUnderlinePositionY);
	background-repeat: no-repeat;
	
	-webkit-box-decoration-break: clone; /* 2 */
	box-decoration-break: clone; /* 2 */
	
	will-change: background-size;
	transition: background-size .25s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

/*
=====
SETTINGS
=====
*/

:root{
	--animatedUnderlineHeight: 0.6rem;
	--animatedUnderlineBgColor: var(--accentColor);
}	

.animated-underline_type1{
	--animatedUnderlineWidth: 100%;
}

.animated-underline_type1:hover{
	--animatedUnderlineHeight: 100%;
}






/*
=====
DEMO
=====
*/

:root{
	--accentColor: #B2DFFF;
	--accentColorDark: #3C8AFF;
	--blackColor: var(--black);
	--whiteColor: #fff;
	--rLinkTextColor: var(--blackColor);
}	

.didi:root {
  --accentColor: #ff7d4160;
}



/* gradient-text */
/* *{margin:0;padding:0;}
.wrap{width:100%;} */
.gradient-text{
  background: linear-gradient(to right, #3C8AFF, #FFAAF6, #FDB802);
  background-size: 200% 200%;
  animation: rainbow 2s ease-in-out infinite;
  background-clip: text;
  -webkit-background-clip:text;
  color:rgba(0,0,0,1);
  /* font-size:10rem; */
  /* width:80vw; */
  /* margin:30vh auto; */
  /* display:block; */
  /* text-align:center; */
  transition: color .2s ease-in-out;
  /* text-transform:uppercase; */
  /* font-weight:900; */
}
.gradient-text:hover{
  color:rgba(0,0,0,0);
}
@keyframes rainbow { 
  0%{background-position:left}
  50%{background-position:right}
  100%{background-position:left}
}




a{
  color:#C0C4CC;
}
a:hover{

  font-style: none;
  color:var(--black);
}

.active a{
  color: var(--black);

}







	/* projects */

.project-head{
 margin-top: 8vh;
}

.project-type{
  margin-top: -8em;
  margin-bottom:2em;

}



/* 
.type-content{ 
  color: #666;

} */
.cap{
  font-size: 12px;
  color: var(--grey) !important;
  margin-bottom: 1em;

 
}

h3{
  font-weight: 500;
  font-size: 24px;
}

.h3-21{
  color: #4F92A0;
  /* color: #212121; */
  font-weight: 700 !important;
  margin-top: 4em;
  margin-bottom: 1em;

}


.h3-pear{
  color:#588E11;
  /* color: #212121; */
  font-weight: 700 !important;
  margin-top: 5em;
  margin-bottom: 1em;

}


.h3-didi{
  color:#FF7D41;
  /* color: #212121; */
  font-weight: 700 !important;
  margin-top: 4em;
  margin-bottom: 1em;

}


.h3-design{
  color:#4E91F8;

  font-weight: 700 !important;
  margin-top: 4em;
  margin-bottom: 1em;

}




.h3-pear-sp{
  color:#588E11;
  font-weight: 700 !important;
  margin-top: 6em;
}


.h3-pear-sp-2{
  color:#588E11;
  font-weight: 700 !important;
}

.h3-21-sp{
  color: #4F92A0;
  font-weight: 700 !important;
  margin-top: -8em;
  margin-bottom: -6em;
}



.h3-21-sp-2{
  color: #4F92A0;
  font-weight: 700 !important;
}


.h3-design-sp{
  color: #4E91F8;
  font-weight: 700 !important;
  margin-top: -2em;
  margin-bottom: 1em;
}


.h5-21,.h5-pear,.h5-didi{
  font-size: 16px;
  font-weight: bold;
  color: var(--black);
  margin-top: 4em;
  margin-bottom: 1em;
}



.h5-design{
  font-size: 16px;
  font-weight: bold;
  color: var(--black);
  margin-top: 6em;
  margin-bottom: 1em;
}

.h5-didi-sp{
  font-size: 16px;
  font-weight: bold;
  color: var(--black);
  margin-top: -8em;
  margin-bottom: 1em;
}

/* .h5-pear{
  font-size: 16px;
  font-weight: bold;
  color: var(--black);
  margin-top: 4em;
  margin-bottom: 1em;
} */


.theme{  /*didi theme*/
  color:#FF7D41;

}

.h6-21, .h6-21{
  font-size: 20px;
  font-weight: bold;
  color: var(--black);
  margin-top: 4em;
  margin-bottom: 1em;
}

.v-align{ 
  display: flex;
  align-items:center;
}


.prototype-row{
  margin-bottom: 8em;
}

.em-21{
  font-style:normal !important;
  color: #4F92A0;
}

.p-shadow{
  
  border: 6px solid #fefefe;
  border-radius: 20px;
  box-shadow: 20px 20px 88px rgb(150, 165, 170, 24%);
}


.list-group-item{
  background: transparent  ;
}

.str-21{
  color: #4F92A0;
}
/* part of fixing margin */
/* .project-section{
  margin-top: 12em;
  margin-bottom: 20em;
} */

/* part of fixing margin *//* part of fixing margin *//* part of fixing margin *//* part of fixing margin *//* part of fixing margin *//* part of fixing margin */

.TOsource{
  color: #4F92A0;
}


.PEARsource{
  color:#588E11;
}

.DIDIsource{
  color: #FF7D41;
}


.TOsource:active{
  color: #083244;
}

/* @media (min-width: 992px) { 


  .text-body{
    margin-left: 12em;
    margin-right: 12em;

  }




} */


